.contactos{
    @extend %flex;
    margin-left: 2%;
    margin-bottom: 2%;
}
.imgContacto{
    border: 1px solid coral;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    margin-top: 2%;
}
.ulContactos{
    list-style: none;
    @extend %flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2%;
}
.detalleContactos{
    height: 2.5vw;
    font-family:'Raleway', sans-serif;
    font-size: 1.5vw;
    color: map-get($colores , primarioTxt );
    text-decoration: none;
}
.liContactos:hover{
    animation-name: color;
    animation-duration: 10s;
    animation-delay: 0.5s;
}
@keyframes color{
    0%{
        background-color: map-get($colores , secundario );
    }
    50%{
        background-color: map-get($colores , primario );
    }
    100%{
        background-color: map-get($colores , transit );
    }
}   
.mapa{
    width: 100%;
}