.divFormulario{
    margin-bottom: 2%;
    color: map-get($colores , primarioTxt );
    font-size: 2vw;
}
.formulario{
    width: 15vw;
    height: 2vw;
}
.mensaje{
    width: 40vw;
    height: 40vw;
}