.galeria{
    @extend %flex;
    overflow-x: scroll;
    margin: auto;
    margin-bottom: 4%;
}
.imgGaleria{
    cursor: grab;
    border: 1px solid coral;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    transition: width 2s, height 2s;
    margin: 2%;

    &:hover{
        width: 30vw;
        height: 30vw;
    }
}