*{
    margin: 0;
    padding: 0;
}
.gridIndex, .gridConsulta{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    background-color: #FFFFFF;
    font-family:'Raleway', sans-serif;
}
.gridGaleria, .gridDiseños{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 15fr 1fr;
    background-color: #FFFFFF;
    font-family:'Raleway', sans-serif;
}
.gridContacto{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 0.5fr 15fr 0.01fr;
    background-color: #FFFFFF;
    font-family:'Raleway', sans-serif;
}
.encabezado{
    grid-column: 1/4;
    grid-row: 1/2;
    background-image: linear-gradient(#4F5E75, #BFC1C0);
    position: sticky;
    top: 0%;
    width: 100%;
    height: 6vw;
}
.titulo{
    cursor: default;
    font-size: 4.5vw;
    text-align: center;
    color: #EF8354;
    position: absolute;
    right: 10%;
    left: 10%;
}
.divUlContacto{
    position: absolute;
    right: 0%;
    margin-top: 0.75vw;
    margin-right: 2vw;
}
.divUlDesplegable{
    position: absolute;
    left: 0%;
    margin-top: 0.75vw;
    margin-left: 2vw;

}
.detalleContacto{
    font-family:'Raleway', sans-serif;
    color: #EF8354;
    font-size: 4vw;
    text-decoration: none; 
}
.detalleContacto:hover{
    color: #4F5E75;
}
.detalleDesplegable{
    font-family:'Raleway', sans-serif;
    color: #EF8354;
    text-decoration: none;
    font-size: 1.5vw;
}
.liContacto{
    list-style: none;
}
.liDesplegable{
    list-style: none;
}
.desplegable{
    cursor: pointer;
    position: relative;
    font-size: 4vw;
    color: #EF8354;
    list-style: none;
}
.desplegable:hover{
    color: #4F5E75;
}
.ulDesplegable li{
    display: block;
}
.ulDesplegable{
    background-color: #2E3142;
    width: 200%;
    position: absolute;
    left: 0%;
    top: 1.5vw;
    display: none;
}
.desplegable:hover .ulDesplegable{
    display: block;
}
.pie{
    grid-column: 1/4;
    grid-row: 4/4;
    gap: 2.5vw;
    width: 100%;
    height: 2.5vw;
    background-image: linear-gradient( #BFC1C0, #4F5E75);
    bottom: 0%;
    text-align: right;
}
.liPie{
    display: inline;
    position: relative;
}
.detallePie{
    margin: 1%;
    font-size: 2vw;
    font-family:'Raleway', sans-serif;
    color: #EF8354;
    text-decoration: none;
}
.detallePie:hover{
    color: #4F5E75;
}
.cuerpoIndex, .cuerpoConsulta, .cuerpoGaleria, .cuerpoDiseños, .cuerpoContacto{
    grid-column: 1/4;
    grid-row: 2/3;
}
.subTitulo{
    margin-top: 1%;
    cursor: default;
    color: #EF8354;
    font-size: 4vw;
    text-align: center;
    text-decoration: underline;
}
.pIndex{
    margin: 10%;
    margin-bottom: 0%;
    cursor: default;
    margin-top: 2%;
    color: #EF8354;
    font-size: 2vw;
    text-align: center;
}
.divFormulario{
    margin-top: 1vw;
    margin-left: 5vw;
    color: #EF8354;
    font-size: 2vw;
}
.formulario{
    width: 8vw;
    height: 2vw;
}
.mensaje{
    width: 40vw;
    height: 40vw;
}
.subSubTitulo{
    cursor: default;
    color: #EF8354;
    font-size: 2.5vw;
    text-align: left;
    text-decoration: solid;
}
.mapa{
    width: 100%;
}
.imagenesIndex{
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.imagenIndex{
    border: 1px solid coral;
    width: 37vw;
    height: 37vw;
}
.imagenIndex1{
    width: 35vw;
    height: 35vw;
    object-fit: cover;
}
.galeria{
    display: flex;
    overflow-x: scroll;
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
}
.imgGaleria{
    cursor: grab;
    border: 1px solid coral;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    transition: width 2s, height 2s;
    margin: 2%;
}
.imgGaleria:hover{
    width: 30vw;
    height: 30vw;
}
.pDiseños{
    margin: 10%;
    margin-bottom: 0%;
    cursor: default;
    margin-top: 2%;
    color: #EF8354;
    font-size: 2vw;
}
.diseños{
    display: flex;
    width: 90%;
    margin: 1%;
    margin-bottom: 4%;
}
.imgDiseños{
    border: 1px solid coral;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}
.contactos{
    display: flex;
    width: 90%;
    margin-left: 2%;
    margin-bottom: 2%;
}
.imgContacto{
    border: 1px solid coral;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    margin-top: 2vw;
}
.ulContactos{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2%;
}
.detalleContactos{
    height: 2.5vw;
    font-family:'Raleway', sans-serif;
    font-size: 1.5vw;
    color: #EF8354;
    text-decoration: none;
}
@media only screen and (min-width: 780px) {
    .pie{
        position: sticky;
    }
}
.liContactos:hover{
    animation-name: color;
    animation-duration: 10s;
    animation-delay: 0.5s;
}
@keyframes color{
    0%{
        background-color: #FFFFFF;
    }
    50%{
        background-color: #4F5E75;
    }
    100%{
        background-color: #2E3142;
    }
} 