.pIndex{
    margin: 10%;
    margin-bottom: 0%;
    cursor: default;
    margin-top: 2%;
    color: #EF8354;
    font-size: 2vw;
    text-align: center;
}
.imagenesIndex{
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.imagenIndex{
    border: 1px solid coral;
    width: 37vw;
    height: 37vw;
}
.imagenIndex1{
    width: 35vw;
    height: 35vw;
    object-fit: cover;
}