.pDiseños{
    margin: 10%;
    margin-bottom: 0%;
    cursor: default;
    margin-top: 2%;
    color: #EF8354;
    font-size: 2vw;
}
.diseños{
    display: flex;
    width: 90%;
    margin: 1%;
    margin-bottom: 4%;
}
.imgDiseños{
    border: 1px solid coral;
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}